@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GeekbleMalang2WOFF2';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/GeekbleMalang2WOFF2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CookieRun';
  src: url('/fonts/CookiRunRegular') format('opentype'),
       url('/fonts/CookieRunRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CookieRun';
  src: url('/fonts/CookieRunBold') format('opentype'),
       url('/fonts/CookieRunBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@layer base {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  @keyframes slide {
    100% {
      background-position: 50px 0, 125px 25px;
    }
  }

  body {
    @apply px-4 min-h-screen sm:px-0 space-y-16 w-full bg-gray-900;
    background-image: radial-gradient(
        hsla(0, 0%, 84.3%, 0.25) 1px,
        transparent 0
      ),
      radial-gradient(hsla(0, 0%, 84.3%, 0.1) 1px, transparent 0);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
    -webkit-animation: slide 2s linear infinite;
    animation: slide 4s linear infinite;
  }
}